<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>OpenMoz </title>
</head>
<body>

<div th:insert="~{header :: nav}"/>
<br><br>

<div class="container">
    <h5 class="text-secondary">IRPS DISCOUNT INFORMATION</h5>
    <br><br>

    <div class="card-group">
        <div class="card bg-light text-center w-20" th:each="irpsResult : ${irpsResults}">
            <div class="card-body">
                <h3 class="card-title text-danger"
                    th:text="${#numbers.formatDecimal(irpsResult.IrpsDiscount, 0,'POINT', 2, 'COMMA')}+' MT'"></h3>
                <p class="card-subtitle text-muted"> Irps discount</p>
            </div>
            <div class="card-body">
                <h4 class="card-title text-success"
                    th:text="${#numbers.formatDecimal(irpsResult.rawSalary, 0,'POINT',2, 'COMMA')}+ ' MT'"></h4>
                <p class="card-subtitle text-muted">Raw salary</span></p>
            </div>
            <div class="card-body">
                <h4 class="card-title text-warning"
                    th:text=" ${irpsResult.numberDependents}==4?'+4':${irpsResult.numberDependents} "></h4>
                <p class="card-subtitle text-muted">dependents</p>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <h4 class="text-center text-secondary">Send the next 6 months pdf report by email</h4>
    <br>
    <form method="post" th:action="@{/email}">
        <input type="email" name="email" placeholder="example@e-consultor.com" class="form-control w-50">
        <input type="hidden" name="irps" th:value="${irpsResult}" class="form-control">
        <input type="submit" value="send" class="btn btn-primary form-control w-20">
    </form>


</div>

<br><br><br><br>

<div th:insert="~{footer :: footer}"/>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->
</body>
</html>